/* Work sans Font From Google Fonts */


@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
}

/* Shared styles */
.btn-primary {
    border-radius: 8px;
    background: #FF900E;
    height: 3rem;
    width: 9rem;
    color: #FFF;
    text-align: center;
    font-weight: 600;
    border: none;
    font-size: 1rem;
    cursor: pointer;

}

/* Header Styles */

header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    font-size: 2.8rem;
    color: #131313;
}

nav ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;


}

nav a {
    text-decoration: none;
    color: #424242;
}

/* Banner Style */

.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;

}

.banner-title {
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}

.banner-desc {
    color: #727272;
}

.banner-img {
    width: 100%;
    margin-top: 20px;
}

/* Main styles */
main {
    max-width: 1440px;
    margin: 70px auto;
}

/* Teams section */
.team-container {
    display: flex;
    align-items: center;
}

.teams-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.teams-content {
    padding-right: 70px;
    padding-left: 70px;
}

.teams-title {
    font-size: 2.5rem;
    font-weight: 700;
}

#teams-t1 {
    color: #727272;

}

#teams-t2 {
    color: #131313;
}

#teams-t3 {
    color: #FF900E;
}

.teams-desc {
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
}

/* Facts section */
.facts {}

.fact-title {
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;

}

.fact-desc {
    color: #727272;
    font-size: 1rem;
}
.fact-card-container{
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
}
.card {
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 30px;
    
}
.card-stat{
    font-size: 2.8rem;
    color: #424242;
    margin-top: 10px;
    margin-bottom: 10px;

}
.card-title{
    font-weight: 600;
    color: #727272;
    font-size: 1.3rem;
}

/* Responsive Media query */

/* Mobile Devices */
@media screen and (max-width:576px) {
    header {
        padding: 15px;
    }

    nav {
        flex-direction: column;
    }

    .team-container {
        flex-direction: column;
    }

    .teams-img {
        grid-template-columns: 1fr;
    }

    .teams-content {
        padding-left: 20px;
        padding-right: 20px;
    }
}

/* Tablet Devices */

@media screen and (min-width:576px) and (max-width:960px) {

    nav,
    .team-container {
        flex-direction: column;
    }

    header {
        padding: 50px;
    }
}