/* Work sans Font From Google Fonts */


@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
}

/* Shared styles */
.btn-primary {
    border-radius: 8px;
    background: #FF900E;
    height: 3rem;
    width: 9rem;
    color: #FFF;
    text-align: center;
    font-weight: 600;
    border: none;
    font-size: 1rem;
    cursor: pointer;

}

/* Header Styles */

header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    font-size: 2.8rem;
    color: #131313;
}

nav ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;


}

nav a {
    text-decoration: none;
    color: #424242;
}

/* Banner Style */

.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;

}

.banner-title {
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}

.banner-desc {
    color: #727272;
}

.banner-img {
    width: 100%;
    margin-top: 20px;
}

/* Main styles */
main {
    max-width: 1440px;
    margin: 70px auto;
}

/* Teams section */
.team-container {
    display: flex;
    align-items: center;
}

.teams-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.teams-content {
    padding-right: 70px;
    padding-left: 70px;
}

.teams-title {
    font-size: 2.5rem;
    font-weight: 700;
}

#teams-t1 {
    color: #727272;

}

#teams-t2 {
    color: #131313;
}

#teams-t3 {
    color: #FF900E;
}

.teams-desc {
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
}

/* Facts section */


.fact-title {
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;

}

.fact-desc {
    color: #727272;
    font-size: 1rem;
}

.fact-card-container {
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
}

.card {
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 30px;

}

.card-stat {
    font-size: 2.8rem;
    color: #424242;
    margin-top: 10px;
    margin-bottom: 10px;

}

.card-title {
    font-weight: 600;
    color: #727272;
    font-size: 1.3rem;
}

/* Sponsor design */

.sponsor-title {
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
}

.sponsor {
    text-align: center;

}

.sponsor-container {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    margin-bottom: 150px;
}

.sponsor-container img {
    width: 165px;
}

/* Feature styles */
.features {
    margin-top: 130px;
    display: flex;
    gap: 100px;
}

.feature-title {
    border-left: 5px solid #FF900E;
    padding-left: 20px;
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
    justify-content: space-between;
}

.feature-card {
    margin-top: 20px;
    padding: 20px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}

.ten-year-batch {
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    width: 300px;
    padding: 40px;
    text-align: center;
    position: relative;
    bottom: 100px;
}

.feature-img {
    width: 100%;
}

.feature-img img {
    height: 90%;
    width: 100%;
    margin-left: 30px;


}

.ten-year-batch h2 {
    font-size: 4rem;
    margin-top: 0;
    margin-bottom: 0;
}

.ten-year-batch p {
    font-size: 1.5rem;
}

/* Footer styles */
footer{
    margin-bottom: 100px;
}

.footer {
    height: 100px;
    border-radius: 8px;
    background: #FFF4E7;
    text-align: center;
    align-items: center;
    width: 70%;
    margin: auto;
}

.footer-title {
    display: flex;
    color:#424242;
    text-align: center;
    font-size: 1.2rem;
    justify-content: center;
    padding: 40px;
}

/* Responsive Media query */

/* Mobile Devices */
@media screen and (max-width:576px) {
    header {
        padding: 15px;
    }

    nav {
        flex-direction: column;
    }

    .team-container {
        flex-direction: column;
    }

    .teams-img {
        grid-template-columns: 1fr;
    }

    .teams-content {
        padding-left: 20px;
        padding-right: 20px;
    }

    .fact-card-container {
        flex-direction: column;
        gap: 20px
    }

    .sponsor-container {
        flex-direction: column;
    }

    .feature-img img {
        width: 100%;
        margin-left: 0;
    }

    .features {
        flex-direction: column;
    }

}





/* Tablet Devices */

@media screen and (min-width:576px) and (max-width:960px) {

    nav,
    .team-container {
        flex-direction: column;
    }

    header {
        padding: 50px;
    }

    .sponsor-container,
    .features {
        flex-direction: column;
    }
}